[Unit]
Descriptio=Etcd Server
After=network.target
 
[Service]
Type=simple
WorkingDirectory=/home/root/etcd/data
EnvironmentFile=- /etc/etcd/etcd.conf
ExecStart=/usr/local/bin/etcd
 
[Install]
WantedBy=multi-user.target

