[Unit]
Description=Kube Kubelet Server
After=docker.service
Requires=docker.service
 
[Service]
ExecStart=/usr/local/bin/kubelet --kubeconfig=/etc/kubernetes/kubelet.yaml --fail-swap-on=false --runtime-cgroups=/systemd/system.slice --kubelet-cgroups=/systemd/system.slice --cluster_dns=10.254.0.2 --cluster_domain=cluster.local
Restart=on-failure
LimitNOFILE=65536
 
[Install]
WantedBy=multi-user.target

